
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubventionLabel" translate="cebilletterieApp.subvention.home.createOrEditLabel">Create or edit a Subvention</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subvention.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subvention.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cebilletterieApp.subvention.subventionAnnee" for="field_subventionAnnee">Subvention Annee</label>
            <input type="number" class="form-control" name="subventionAnnee" id="field_subventionAnnee"
                    ng-model="vm.subvention.subventionAnnee"
                    required />
            <div ng-show="editForm.subventionAnnee.$invalid">
                <p class="help-block"
                    ng-show="editForm.subventionAnnee.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subventionAnnee.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="cebilletterieApp.subvention.subventionMontant" for="field_subventionMontant">Subvention Montant</label>
            <input type="number" class="form-control" name="subventionMontant" id="field_subventionMontant"
                    ng-model="vm.subvention.subventionMontant"
                    required />
            <div ng-show="editForm.subventionMontant.$invalid">
                <p class="help-block"
                    ng-show="editForm.subventionMontant.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subventionMontant.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="cebilletterieApp.subvention.salarie" for="field_salarie">Salarie</label>
            <select class="form-control" id="field_salarie" name="salarie" ng-model="vm.subvention.salarie" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
